#buscar-search-btn {
background-color:#ddd;
color: #fff;
font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
text-transform:uppercase
padding:10px 20px;
 border-radius: 5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
border:0 none;
font-weight: 700;
}
 
#buscar-search-box {
background: #eee;
padding:10px;
 border-radius: 5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
border: none;
width: 250px;
 }