@charset "ISO-8859-1";

		.topnav {
			font-family: 'Lato', sans-serif;
			overflow: hidden;
			padding:0% 25% 0% 25%;
		}
		
		.topnav a {
			float: left;
			color: #444;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
		}
		
		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}
		
		.topnav a.active {
			background-color: #fe0032;
			color: white;
		}